$background: #111E25;
$dark: #111;
$primary: #bb1515;
$white: #F8F4FF;

.button {
  position: relative;
  z-index: 10;
  padding: .25em 0;
  border: 0;
  outline: 0;
  background: $primary;
  color: rgba($white, 0.85);
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba($white, 0.2);

  width: 70vw;
  line-height: 3.6rem;
  text-align: center;
  cursor: pointer;
  transition: opacity .4s .3s;

  &_active {
    opacity: 0;
  }
}