$background: #111E25;
$dark: #111;
$primary: #bb1515;

.tip {
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;

  &_active {
    opacity: 1;
  }
}